name: Continuos Integration with GitHub

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v3.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Java JDK
        uses: actions/setup-java@v4.2.1
        with: 
          java-version: '17'
          distribution: 'adopt'

      - name: Submodule Init
        run: git submodule update --init --recursive

      - name: Build Eureka Naming Service Container Image
        working-directory: ./ms01-naming-server 
        run: mvn spring-boot:build-image -DskipTests

      - name: Build API Gateway Container Image
        working-directory: ./ms01-api-gateway 
        run: mvn spring-boot:build-image -DskipTests

      - name: Build Cambio Microservice Jar
        working-directory: ./ms01-cambio-service
        run: mvn clean package -DskipTests

      - name: Build Book Microservice Jar
        working-directory: ./ms01-book-service
        run: mvn clean package -DskipTests

      - name: Docker Compose Build
        working-directory: ./
        run: docker-compose build

      - name: Push to Docker Hub Container Registry  
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/ms01-naming-server:0.0.1-SNAPSHOT ${{ secrets.DOCKER_USERNAME }}/ms01-naming-server:${{github.run_id}}
          docker tag ${{ secrets.DOCKER_USERNAME }}/ms01-api-gateway:0.0.1-SNAPSHOT ${{ secrets.DOCKER_USERNAME }}/ms01-api-gateway:${{github.run_id}}
          docker tag ${{ secrets.DOCKER_USERNAME }}/cambio-service:latest ${{ secrets.DOCKER_USERNAME }}/cambio-service:${{github.run_id}}
          docker tag ${{ secrets.DOCKER_USERNAME }}/book-service:latest ${{ secrets.DOCKER_USERNAME }}/book-service:${{github.run_id}}
          docker push ${{ secrets.DOCKER_USERNAME }}/ms01-naming-server:${{github.run_id}}
          docker push ${{ secrets.DOCKER_USERNAME }}/ms01-api-gateway:${{github.run_id}}
          docker push ${{ secrets.DOCKER_USERNAME }}/cambio-service:${{github.run_id}}
          docker push ${{ secrets.DOCKER_USERNAME }}/book-service:${{github.run_id}}

